body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4,a {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family:Arial,Helvetica,"Microsoft YaHei",sans-serif;
}
.all{
margin:0 auto;
width:1280px;}
.top{
width:1280px;
height:56px;
background:#FFFFFF;
clear:both;
}
.top-L{
width:100px;
float:left;
margin:10px 59px;
}
.top-L img{
display:inline;

}
.top-L span{
	display: inline-block;
	padding: 5px 10px 0 10px;
	color:#787b83;\
	font-size: 21px;
}

.top-R{
float:right;
height:56px;
line-height:56px;
width:600px;
}
.top-R .red{
	color: #e74f4d;
	border-bottom: 4px #e74f4d solid;
}
.top-R .red-1{
	color: #e74f4d;
	}
.top-R ul li{
	width: 62px;
display:inline;
margin:8px;
padding:10px;
list-style-type:none;
color:#787b83;
}
.top-R ul li img{
margin:0 10px;
}

.banner{
height:691px;
width:1280px;
border:1px #999999 solid;
border:1px #999999 solid;
position:relative;
}

.zi{
position:absolute;
height:80px;
top:260px;
left:60px;
display:block;
width:500px;
color:#FFFFFF;
}
.zi a{
display:block;
width:331px;
height:65px;
background:#e74f4d;
font-size:30px;
font-family:Arial,Helvetica,"Microsoft YaHei",sans-serif;
padding:auto;
text-align:center;
line-height:65px;s
}
.zi p{
margin:20px 0;
font-size:21px;
}
.zi h1{
font-size:60px;
}
.list{
width:1350px;
height:250px;
}
.li-img{
	padding:30px;
	text-align:center;
	width:323px;
	height:250px;
	float:left;
}

.xinshijie{
	height:261px;
	width:1280px;
	background:#ededed;
	text-align:center;
	padding:80px 0;
}
.xinshijie p{
	font-size:54px;
	color:#323333;
	margin:40px;}

.list li{

padding:50px;}

.list li p{
	margin-top:30px;
	margin-right:54px;
	width:266px;
	padding:0 30px 0 20px;
	font-size:14px;
	border-right:3px #989999 solid;
	color:#767777;
	}


.huodong{
	height: 260px;
	width: 1280px;
	background-image: url(images/bg-2.png);
	text-align: center;
	color: #FFFFFF;
	padding: 40px 0;
	position: relative;
}
.huodong .hdh1{
	display: block;
	font-size: 21px;
	padding: 10px;}
.huodong .hdh2{
	display: block;
	font-size: 12px;
	padding: 10px;}
.dizhi{
	display: block;
	width: 1148px;
	height: 60px;
	position: relative;
	margin: 20px 0 0 0;
}
.dizhi ul li{
	float: left;
	display: inline;	
	}
.dizhi input {
	background-image: url(images/ico-dorw.png);
	background-repeat: no-repeat;
	background-position: 206px 8px;
	margin: 15px;
	width: 236px;
	height: 35px;
	padding: 0 0 0 10px;
}
.dizhi .volu-bt{
	background-color: #be4f48;
	background-image: none;
	color: #FFFFFF;
	margin: 15px;
	width: 236px;
	height: 35px;
	font-size: 14px;
	word-spacing:22px;
}
.dizhi .red{border: 1px #be4e48 solid;}
.hd-list{
	position: absolute;	
	left: 281px;
    top: 49px;
    width: 234px;
    border: 1px #be4f48 solid;
    background-color:#e4e3e5;
    color: #323333;
  
}
.hd-list ul li{
	width: 234px;
	height: 35px;
	
	text-align: left;
	padding: 10px 0 0 30px;
}
.hd-list a{
	display: block;
	

}
.hd-list ul li:hover{
	background-color: #be4f48;
    width: 234px;
	height: 35px;
	color: #FFFFFF;
	background-image: url(images/xiala.png);
	background-repeat: no-repeat;
	background-position:10px;
}
.hd-list button:hover{
	background-color: #963031;
}
.tupian{
	background-color: #f8f7f7;
	width: 1280px;
	height: 650px;	
	}
	
.tupian ul{
	
padding: 100px 80px;
	
}
.tupian ul li{
	display: inline;
	padding: 18px;
	margin: 18px;
	float: left;
	width: 240px;
	height: 387px;
	text-align: center;
	}
	
.tupian-1{
	padding: 12px 8px;
	width: 203px;
	height: 313px;
	border: 1px #e1e1e1 solid;
	}
.tupian p{
	font: "微软雅黑" ;
	color: #323333;
	font-size: 14px;
	margin:10px 0 5px;}	
.tupian span{
	display: block;
	font-size: 12px;
	color: #9f9f9f;
	margin: 0 0 20px 0;
}
.shanghai p{
	font-size: 24px;
	letter-spacing: 26px;
	text-align: center;
}
.more{
	width: 1280px;
	height: 566px;
}
.more .left{
	color: #FFFFFF;
	text-align: center;
	float: left;
	width: 850px;
	height:566px ;
	background-image: url(images/banner.png);
	position: relative;
}
.more .left .wenzi{
	padding: 130px;
}
.more .left span{
	font-size: 50px;

}
.more .left p{
	font-size: 180px;
}
.more .left .zhushi{
	font-size: 20px;
	line-height: ]43px;
}
.more .left .img{
	position: absolute;
	left: 826px;
	top: 221px;
}
.more .right{
	width: 430px;
	height: 566px;
	float: left;
	background-color:#ffffff;
	text-align: center;
	position: relative;
}
.clear{clear: both;}
.r_wenzi{
	padding: 140px 74px;
	position: relative;
}
.more .right span{
	font-size: 22px;
	margin: 0 0 20px;
	display: block;
}
.more .right span p{
	color: red;
}
.more .right p{
	font-size: 12px;
	line-height: 30px;
	text-align: left;
	font-family: "宋体";
}
.more .right a{
	font: 12px ;
	color: red;
	line-height: 32px;
	margin: 50px auto 10px;
	display: block;
	width: 106px;
	height: 32px;
	border: 1px red solid;
}

.more .right ul li{
	/*float: left;*/
	display: inline-block;
	margin: 16px;
	}
.more .right .r_wenzi p	{
	display:inline;
	font-size: 20px ;
	font: "微软雅黑";
}
.newera{
	height: 520px;
	width: 1280px;
	text-align: center;
}
.newera .L{
	color: #323333;
	float: left;
	background-color: #FFFFFF;
	width: 186px;
	height: 174px;
	padding: 173px 120px;
	position: relative;
}
.newera .L .1{
	background-color: #FFFFFF;

	}

.newera .L img {
	position: absolute;
	left: 0;
	top:0
}
.newera .L p{
	font-size: 21px;
	line-height: 30px;
	
}

.newera .L  .3{
	position: absolute;
    background-image: url(images/img-3.png);
    top:30px;
}
.newera .L span{
	color: #e74f4d;
	display: block;
	width: 170px;
	height: 42px;
	line-height:42px ;
	border: 1px #e74f4d solid;
}
.newera .L span:hover{
	color: #FFFFFF;
	display: block;
	width: 170px;
	height: 42px;
	line-height:42px ;
	border: 1px #FFFFFF solid;
	
}
.wire{
	display: block;
	width: 30px;
	height: 2px;
	background-color: #ababaa;
	margin: 20px auto 20px;
	}

.newera .L:hover{
	background-color: #e74f4d;
	color: #FFFFFF;
}
.volunteer{
	height: 462px;
	width: 1000px;
	padding: 120px 140px 168px 140px;
}
.v-wenzi p{
	font-size: 21px;
}
.v-wenzi span{
	font-size: 12px;
	line-height: 18px;
}
.v-wenzi{
	width: 430px;
	height: 87px;
	text-align: center;
	margin: 0 auto;
	}
.agreement{
	margin: 20px;
	height: 350px;
	padding: 40px 0;
	width:1000px ;
}
.volu-left{
	height: 286px;
	float: left;
	width:362px ;
	text-align: left;
}
.volu-1 {
	padding: 0 77px 0 0;
}
.volu-1 p {
	font-size: 14px;
	margin: 25px 0;
}
.volu-1 span{
	font-size: 12px;
	line-height: 21px;
	color: #ababaa;
	font-family: "宋体";
	
}
.volu-1 a{
	text-align: right;
	font-size: 12px;
	color: #ababaa;
	background-image: url(images/more.png);
	background-repeat: no-repeat;
	background-position:240px 7px ;
	display: block;
}
.volu-1 a:hover{
	color:#616161;
}
.volu-right
{
	margin: 25px 0;
	float: left;
	width: 638px;
	height: 286px;
}
.volu-right .general,.volu-right .volu-bt,.volu-right .longtext
{
	
	
	background-color: #ececee;
	padding: 3px 18px;
	font-family: "宋体";
	margin: 7px 9px;
}
.general{
	width: 288px;
	height: 41px;
	
}
.longtext{
	width: 600px;
	height: 122px;
	text-align: center;
	color: #323333;
	text-align: left;
	line-height: 20px;
	rows="10" cols="30"
	>

	
}

.r_wenzi ul {
	position:absolute;
	left:0;
	right: 0;
	text-align: center;
	
}
.volu-bt{
	line-height: 41px;
	text-align: center;
	color: #323333;
	width:567px ;
}
.bottom{
	width: 1280px;
	height: 199px;
	background-color: #33363f;
	padding: 90px 0 76px 0;
	color: #FFFFFF;
	text-align: center;
	
}
.bottom p{
	font-size: 21px;
	line-height: 30px;
	
}
.bottom span{
	font-family: "宋体";
	font-size: 12px;
	width: 511px;
	padding: 20px;
}
.bottom textarea{
	width: 390px;
	height: 41px;
	margin: 20px;
	line-height: 41px;
	padding: 0 20px;
	font-size: 14px;
	font-family: "微软雅黑";
	
}
.bottom button{
	width: 80px;
	background-color: #6F7278;
	height: 43px;
	color: #FFFFFF;
	position: absolute;
	top:-36px;
	left: -21px;
	position:relative;
	
}


.bottom img,.bottom li{
	display: inline;
	width: 24px;
	height: 26px;
	padding: 10px;	
	margin: 0 auto;
}
.db{
	padding: 20px 98px;
	height: 18px;
	width: 1084px;
	background-color: #303039;
	color: #FFFFFF;
	position: relative;
	}
.db p{
	display: inline;
}
.db a{
	left: 1000px;
	position: absolute;
	color: #FFFFFF;
	text-decoration:none
}
