@charset "UTF-8";
*{
    margin: 0;
    padding:0;
}
ul,li{
    list-style: none;
}
.mainbox,.inputbox,.sliderbox{
    width: 690px;
    margin: 0 auto;
}
.mainbox table tr{
    color:black;
    text-align: left;
    line-height: 25px;
}
.mainbox table tr th{
    background:black;
    color: white;
}
.mainbox table tr:nth-child(2),.mainbox table tr:nth-child(3),.mainbox table tr:nth-child(4){
    color: red;
}
.mainbox table tr:nth-child(odd){
    background:#e5e5e5;
}
.mainbox table tr:nth-child(even){
    background: #fff;
}
.inputbox{
    margin-top: 20px;
}
.inputbox input{
    border: 1px solid #e5e5e5;
    line-height:25px;
    height: 25px;
    width: 200px;
}
.inputbox input:focus{
    transition: width 1s, transform 1s;
    -webkit-transition:width 1s, transform 1s;
    -moz-transition:width 1s, transform 1s;
    -o-transition:width 1s, transform 1s;
    width: 300px;
    height: 28px;
    border: 1px solid lightskyblue;
}
.sliderbox{
    margin-top: 20px;
    position: relative;
    height: 300px;
    overflow: hidden;
}
.sliderbox ul{
    width: 400%;
}
.sliderbox ul li{
    float: left;
    color: #fff;
    font-size:100px;
    width: 690px;
    height: 300px;
    position: absolute;
    text-align: center;
}
.sliderbox ul li:nth-child(1){
    background:dodgerblue;
}
.sliderbox ul li:nth-child(2){
    background:burlywood;
}
.sliderbox ul li:nth-child(3){
    background:#990033;
}
@keyframes  myfirst{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}
@-moz-keyframes  myfirst{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}
@-webkit-keyframes  myfirst{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}
@-o-keyframes  myfirst{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}
.sliderbox ul li:target{
    z-index: 20;
    animation: myfirst 200ms linear;
}
.sliderbtn{
    position:absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index:25;
}
.sliderbtn a{
    background: rgba(255,255,255,0.8);
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
